.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.canvas-container {
  margin: 0 auto;
  width: 30vw;
  position: relative;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

table {
  width: 30vw;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgba(20, 109, 193, 0.2);
}

tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.2);
}

tr:hover {
  background-color: rgba(20, 109, 193, 0.7);
}

@media (min-width: 768px) {
   #canvas-container {
       height: auto;
       width: auto;
    }
}
